.album {
	animation: rotate 4s infinite linear;
	background: url("/assets/album.svg");
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.albumImage {
	width: 32px;
	height: 32px;
	border-radius: 100%;
	overflow: hidden;
	object-fit: cover;
}

.description {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
	display: flex;
	align-items: flex-end;
	padding: 10px;
	color: #fff;
	justify-content: space-between;
	gap: 12px;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.58) 0%,
		rgba(255, 255, 255, 0) 60%
	);
}

.textWrapper {
	width: 100%;
	margin-bottom: 8px;
}

.username {
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
}

.text {
	font-size: 15px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.song {
	width: 100%;
	font-size: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.songTitle {
	margin-left: 20px;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
